
tr.sqltask-mytask {
  font-size: large;
}

.sqltask-mytask-busy {
  display: none;
}

tr.sqltask-mytask.loading .sqltask-mytask-busy {
  display: block;
}

tr.sqltask-mytask.loading .sqltask-mytask-runtime {
  display: none;
}
