/*
    Prefix: stm__
    (Sql Tasks Manager)
*/

.stm__tasks-table tr.even-row.enabled  {
  background: #d3f5ac !important;
}

.stm__tasks-table tr.odd-row.enabled {
  background: #e5f9d0 !important;
}

.stm__tasks-table tr.even-row.archived  {
  background: #fcdebd !important;
}

.stm__tasks-table tr.odd-row.archived {
  background: #ffeedb !important;
}

.stm__table-column-category {
  word-wrap: break-word;
  max-width: 120px;
}

.stm__table-column-name {
  word-wrap: break-word;
  max-width: 380px;
}

.stm__table-column-description {
  word-wrap: break-word;
  max-width: 420px;
}

.stm__table-column-last-executed {
  word-wrap: break-word;
  max-width: 130px;
  font-size: 12px;
}

.stm__preloader {
  position: relative;
  height: 100px;
}

.stm__action-item, .stm__action-item:hover {
  padding: 0 5px !important;
}

.stm__action-item {
  display: flex !important;
  gap: 10px;
}

.stm__action-item i, .stm__action-item span {
  color: inherit !important;
}

.stm__weight-arrow {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 5px !important;
}
