<div id="bootstrap-theme">
  <h1 crm-page-title>{{ts('Delete Task') + ' "' + taskData.name + '"'}}</h1>

  <div class="crm-form-block">
    <div class="st__flex st__gap-10 st__pb-10">
      <a class="btn btn-secondary" ng-href="#/sqltasks/manage" title="{{ts('Back to Manager')}}">
        <i class="crm-i fa-list"></i>
        <span>{{ts('Back to Manager')}}</span>
      </a>

      <a class="btn btn-secondary" ng-href="#/sqltasks/configure/{{taskId}}" title="{{ts('Configure task')}}" ng-show="task !== null">
        <i class="crm-i fa-pencil"></i>
        <span>{{ts('Configure task')}}</span>
      </a>
    </div>

    <div>
      <div class="help st__max-width-800">
        <p ng-if="taskData">
          {{ts('You are about to delete plugin')}} "{{taskData.name}}" [{{taskData.id}}]. {{ts('You should consider simply
          disabling it, since all data
          will be lost.')}}
        </p>
        <p ng-if="!taskData">
          {{ts("Task doesn't exist or not created.")}}
        </p>
      </div>

      <div class="st__flex st__gap-10">
        <button class="btn btn-primary" ng-click="onTaskDelete()" title="{{ts('Delete')}}">
          <i class="crm-i fa-trash"></i>
          <span>{{ts('Delete')}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
